.container {
    padding: 5px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    list-style-type: none;
    font-size: 30px;
    /* justify-content: center;
    align-items: center; */
}

.nav {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: center;
    /* border: 2px black solid; */

}
