/* ============
Features Layout
============ */
.slideContainer {
	margin: 0 1rem;
}

.projectContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-top: 1em;
	margin-left: 10px;
	margin-right: 10px;
	width: clamp(24vh, 14em, 30vh);
}

.projectContainer span {
	display: block;
}

.projectName {
	margin-bottom: 1em;
}

.projectType {
	margin-bottom: 1em;
}

/* Images */

.projectImg {
	display: block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 7.5px;
	max-width: 100%;
	height: max(12rem, 42vh);
	object-fit: cover;
	margin-bottom: 2em;
	transition: transform 1s ease;
}

.projectImg:hover,
.projectImg:focus {
	cursor: pointer;
	-ms-transform: scale(1.1); /* IE 9 */
	-webkit-transform: scale(1.1); /* Safari 3-8 */
	transform: scale(1.05);
}

/* ===========
Typography
============ */

.projectType,
.projectName {
	color: #252525;
}

.projectType {
	font-size: .75rem;
	letter-spacing: 6.4px;
	text-transform: uppercase;
	font-family: var(--text-body);
	font-weight: 300;
}

.projectName {
	font-size: 0.875rem;
	font-weight: 200;
	letter-spacing: 4.2px;
	text-transform: capitalize;
}
