/* ============
Features Layout
============ */

.projectContainer {
    opacity: .5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.projectContainer span {
    display: block;
}

.projectName {
    margin-bottom: 1em;
}

.projectType {
    margin-bottom: .5em;
}


/* Images */

.imageWrapper {
    border: 2px solid black;
    max-width: 500px;
    margin-bottom:  2.5em;
}

/* ===========
Typography
============ */

.projectType,
.projectName {
    text-transform: uppercase;
    letter-spacing: .625rem;
}

.projectType {
    font-size: 2.5rem;
    letter-spacing: 1rem;
}
