/* ============
Features Layout
============ */

.projectContainer {
    opacity: .5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    justify-self: center;
}

.projectContainer span {
    display: block;
}

.projectName {
    margin-bottom: 1em;
}

.projectType {
    margin-bottom: 1em;
}


/* Images */

.imageWrapper {
    border: 2px solid black;
    max-width: 500px;
    margin-bottom:  2em;
}

/* ===========
Typography
============ */

.projectType,
.projectName {
    color: #252525;
}

.projectType {
    font-size: 1rem;
    letter-spacing: 6.4px;
    text-transform: uppercase;
}

.projectName {
    font-size: 0.875;
    font-weight: 200;
    letter-spacing: 4.2px;
    text-transform: capitalize;
}
