/* Nav Layout */
.containerNav {
	margin: .5em auto;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navPrimary {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	gap: 0.75em;
	background: rgba(245, 245, 239, 0.9);
	z-index: 10;
}

@supports (backdrop-filter: blur(10px)) {
	.navPrimary {
		background: rgba(245, 245, 239, 0.5);
		backdrop-filter: blur(10px);
	}
}

.navPrimary a {
	display: inline-block;
	position: relative;
	transition: all 350ms ease;
}

.navPrimary a:hover {
	transform: translateY(-3px);
	font-size: 1.05em;
}

.activePage {
	color: #9f9c93;
	border-bottom: 2px solid black;
}

.mobileNavToggle {
	z-index: 100;
	display: none;
}

.srOnly {
	position: relative;
	display: block;
	width: 2.5em;
	height: 2em;
}

.srOnly::before,
.srOnly::after {
	content: " ";
	position: absolute;
	width: 35px;
	height: 3px;
	background-color: black;
	right: 0;
	left: 0;
	transition: all 1000ms ease-out;
}

.srOnly::after {
	bottom: 0.25em;
}

.srOnly::before {
	top: 0.25em;
}

/* images */
.logo {
	max-width: 80px;
	height: auto;
	z-index: 100;
}

/* ==========
Typography
========== */

.containerNav a {
	font-size: 1rem;
	letter-spacing: 2.5px;
	text-transform: capitalize;
}

/* =======
Media
======= */

@media (max-width: 480px) {
	.navPrimary {
		padding: min(20vh, 3.5em) 1em;
		position: fixed;
		inset: 0 0 0 0%;
		flex-direction: column;
		align-items: center;
		/* transform: translateX(100%); */
		transition: transform 350ms ease-in;
		border-left: 2px solid rgba(245, 245, 239, 0.5);
	}

	.navPrimaryHidden {
		transform: translateX(100%);
	}

	.mobileNavToggle {
		display: block;
		position: absolute;
		top: 1em;
		right: 1em;
	}

	/* mobile toggle animation */

	.mobileNavToggle[aria-expanded="true"] > .srOnly::before,
	.mobileNavToggle[aria-expanded="true"] > .srOnly::after {
		background-color: #9f9c93;
	}

	.mobileNavToggle[aria-expanded="true"] > .srOnly::before {
		transform: translateY(0.6em) rotate(-35deg);
		/* transform: ; */
	}

	.mobileNavToggle[aria-expanded="true"] > .srOnly::after {
		transform: translateY(-0.6em) rotate(35deg);
	}
}

@media (min-width: 768px) {
	.logo {
		max-width: 100px;
	}
}
