.theme {
	background-color: var(--primary-background);
	padding: 1em;
}

/* =============
Contact Layout
============= */

.contactContainer {
    padding: 0 2rem;
  }

.title {
  margin: 0 auto;
  text-align: center;
}

.formDescription {
  margin: 0 auto;
  margin-bottom: 2em;
  text-align: center;
  max-width: 300px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  align-items: flex-start;
  outline: 2px solid hotpink;
}

.textInput {
  /* accent-color:  */
  width: min(100%, 300px);
}

.formServicesTitle {
  margin-bottom: 0;
}

.formBtn {
  font-family: inherit;
  font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 0.1em;
  border: 0;
  background: var(--primary-background);
	padding: 0.25em;
  padding-bottom: 0;
  position: relative;
  transition: color 500ms ease-in;

}

.formBtn::after {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: .5px;
  display: block;
  background: rgba(	37, 37, 37,1);
  color: antiquewhite;
  width: 100%;
  height: 2px;
  transform: scaleX(1);
  transform-origin: center;
  transition: all 500ms ease;
}

.formBtn:hover::after{
  transform: scaleX(0);
  background: rgba(37, 37, 37,.1);

}

.formBtn:hover {
  color: #9f9c93;
}

/* ==========
Typography
========== */

.formDescription,
.formContainer {
  font-family: var(--text-body);
}

.formDescription {
  font-size: 1rem;
}

.formDescription p:last-child {
  font-size: .625rem;
}

.formContainer {
  font-size: 0.75rem;
}