html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Roboto, sans-serif; 
  color: #252525;
  /* line-height: 1.6; */
}

* {
  box-sizing: border-box;
  /* background: rgba(0 100 0 / 0.05) !important; */
}


/* Links */
a {
  color: inherit;
  text-decoration: none;
  padding: .25em;
  font-family: neue-haas-unica, sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em;
}

a:hover {
  color: #9F9C93;
}


/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
