/* ==========
Layout
========== */

/* Flex containers */
.header {
  /* display: flex;
  justify-content: flex-end; */
  /* margin: 0 auto; */
  padding: 1em;
  background: #F5F5EF;
  border: 2px solid black;
}

.main {
  /* min-height: 70vh; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F5F5EF;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 2px solid black;
  justify-content: center;
  align-items: center;
  background: #F5F5EE;
}

/* Containers */
.hero {
  background: #F5F5EF;
  width: 90%;
  min-height: 50vh;
  padding: 0 .25em;
  /* border: 1px solid #707070;  */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  width: 100vw;
  padding: .25em;
  text-align: center;
  background: #BFC1B5;
}

/* Images */
.logoImage {
  margin: 0 auto;
  width: 25vw;
} 

/* Links */
.social {
  padding: 5px;
  border-radius: 50%;
}

.social:hover, .social:focus {
  opacity: 0.33;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/* ==========
Typography
========== */

.mainTitle,
.subHeading {
  text-align: center;
  max-width: 500px;
}

.mainTitle {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: .4em;
  padding-bottom: .25em;

}

.subHeading {
  font-family: neue-haas-unica, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 2.5em;
}

.banner {
  text-transform: uppercase;
  letter-spacing: .2em;
}

/* @media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */

/* @media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
} */
