/* ============
Util Layout
============= */
.container {
    padding: 0;
    margin: 0;
    /* outline: 2px solid black; */
  }  

.sectionTitle {
    margin-bottom: 3.5em;
  }  

  /* buttons  */
.btn {
    background-color: #E6E6E4;
    font-family: inherit;
    padding: .5em 1em;
    margin-bottom: 1em;
    border-radius: 5px;
    box-shadow: .1em .1em .3em;
  }

.btn:hover {
    cursor: pointer;
    opacity: .5;
}


/* Links */
  
  .pageLink {
    font-size: 1rem;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-bottom: 5em;
  }

  /* ===========
Typography
============ */

.sectionTitle {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 10px;
    font-weight: 700;
    font-size: 1.25rem;
}