/* ===============
Projects Layout
=============== */

.theme {
	background-color: var(--primary-background);
}

.header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.mainTitle {
  margin: 1em 0 2em;
}

.projectContainer {
  margin: 0 auto;
  padding-top: 4rem;
  overflow: auto;
}

.projectCard {
  margin: 0 auto;
  margin-bottom: 3em;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5em;
  width: 95%;
}

.projectDescription {
  /* margin: 1em; */
  max-width: 425px;
  flex: 1 auto;
  padding: 1em;
}

.projectDescription > * {
  margin: 0 auto;
  margin-bottom: 1em;
  max-width: 400px;
  text-align: justify;
  line-height: 1.7;
}

.projectTitle {
  margin: 0;
  padding: 0 1em;
  flex: 1 90%;
  text-align: center;
}

.projectImg,
.mainProjectImg {
  /* margin: 0 1em; */
  width: 100%;
  height: auto;
  max-width: 425px;
  object-fit: cover;
  flex: 1 auto;
}

.pageLinks {
  width: 100%;
}

.invert {
  background-color: #bfc1b5;
}
/* =============
Typography
============= */

.mainTitle {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 10px;
  font-weight: 700;
  font-size: clamp(1.25rem, 5vw, 2rem);
}